<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/EstiloContato.css">
        
        <title>Contato</title>
        
    </head>

    <body>
        <header>
            <div id="topo">
                <img src="../imgs/ads.png" class="logos">
                <img class="logos" src="../imgs/logo_ifro.png">
                
                <nav class="listasTopo"><!--"nav" = indica que sera uma seção de uma página que aponta para outras páginas -->
                    <ul>
                        <li><a href="index.html" >Início</a></li>
                        <li><a href="portifolio.html">Portifólio</a></li>
                        <li><a href="contato.html" >Contato</a></li>
                    </ul>
                </nav>
            </div>
            
        </header>


        <section><!--section = junta elementos que tenham relação-->
            <div id="centro">

                <h1>Contato</h1>  <br>

                <p> Entre em contato para discutir suas necessidades e ver o que posso lhe oferecer. <br> <br>
                    Faço o possível para responder às mensagens dentro de 1 a 2 dias úteis.
                </p>
                <br>

                <label>Nome *</label> <br>
                <input type="text" name="Nome" size="85" size="40" /> <br>

                <br>
                <label>E-mail *</label> <br>
                <input type="text" name="email" size="85" /> <br>

                <textarea rows="7" cols="80"> </textarea>  <br>

                <input type="submit" value="Enviar"/>              

            </div>

        </section>

        <!--<footer> </footer>  = barra de baixo-->

    </body>
</html>